:root {
  --background: #ffffff;
  --foreground: #111827;
  --card: #ffffff;
  --border: #e5e7eb;

  --btn: #111827;
  --btnText: #ffffff;

  --btnAltBg: #f3f4f6;
  --btnAltText: #111827;

  --heroOverlayFrom: rgba(0,0,0,0.55);
  --heroOverlayTo: rgba(0,0,0,0.10);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b1220;
    --foreground: #f9fafb;
    --card: #111827;
    --border: #374151;

    --btn: #f9fafb;
    --btnText: #111827;

    --btnAltBg: #111827;
    --btnAltText: #f9fafb;

    --heroOverlayFrom: rgba(0,0,0,0.75);
    --heroOverlayTo: rgba(0,0,0,0.20);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
